$col-primary: #7477bf;
$col-secondary: #4d4c72;
$col-highlight: #90ee90;
$col-form-borders: #ccc;
$col-white: #fff;

$col-graph-desktop: #90ee90;
$col-graph-tablet: #7477bf;
$col-graph-phones: #51b6c8;

$tablet-break: 768px;
$desktop-break: 1024px;