// adpated from https://www.w3schools.com/howto/howto_js_autocomplete.asp
.autocomplete {
  position: relative;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid $col-form-borders;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%; // items will be same width as container
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: $col-white;
  border-bottom: 1px solid $col-form-borders;
}
.autocomplete-items div:hover {
  color: $col-primary;
}
.autocomplete-active { // arrow key selection
  background-color: $col-primary !important;
  color: $col-white;
}
