.profile-img {
    border-radius: 50%;
}

.svg {
    width: 30px;
    height: 30px;
    margin: 0 0.7rem;
}

.header-right {
    .profile-img {
        width: 35px;
        height: 35px;
        margin: 0 10px;
    }
    .svg {
        width: 20px; 
        height: 20px;
    }
}

.members,
.activity {
    .profile-img {
        width: 75px;
        height: 75px;
    }
}