* {
    box-sizing: border-box;
    padding: 0; 
    margin: 0;
    font-family: sans-serif;
}

body {
    height: 100vh;
}

hr {
    padding: .5px 0px;
    background-color: $col-form-borders;
    border: none;
    margin-bottom: 5px;
}

section,
.dashboard-header {
    max-width: 94%;
    margin: 0 auto;
}

.dashboard-header {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    input {
        padding: 5px;
    }
}

.recent-activity-container,
.new-member-container {
    border-bottom: 1px solid $col-form-borders;
    text-align: center;
    &:last-child {
        border-bottom: none;
    }
}

.main-grid { 
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 60px 70px 1fr;
    grid-template-areas: 
            "site-header"
            "site-nav"
            "site-main";
}

.site-header {
    grid-area: site-header;
    display: flex;
    justify-content: space-between;
    background-color: $col-primary;
    color: $col-white;
    align-items: center;
    padding: .6rem;
    .profile-img {
        max-width: 50px;
    }
    h1 {
        font-size: 1.5em;
        margin-right: 1em;
    }
    p {
        font-size: .6em; 
        font-weight: 100;
    }
}

.header-right {
    display: flex; 
    align-items: center;
}

.site-nav {
    grid-area: site-nav;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    background-color: $col-secondary;
}

.site-main {
    grid-area: site-main;
}

.social-container {
    display: flex; 
    flex-direction: column;
    margin-bottom: 15px;
    & > div {
        margin-top: 1rem;
    }
}

.social-img {
    background-color: $col-primary;
    border: 7px solid $col-primary;
    width: 67px;
    height: 67px;
    border-radius: 50%;
    margin-right: 10px;
}

form {
    input,
    textarea,
    button {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid $col-form-borders;
        border-radius: 5px;
        font-weight: 100;
    }
    input, 
    textarea {
        background-color: lighten($col-form-borders, 10%);
    }
    textarea {
        height: 150px;
    }
    button {
        color: $col-white; 
        background-color: $col-primary;
    }
}

.settings {
    button,
    select {
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid $col-form-borders;
        border-radius: 5px;
        font-weight: 100;
    }
    select {
        width: 100%;
    }
    button {
        width: 48%;
    }
    .save-button {
        background-color: $col-primary;
        color: $col-white;
    }
    .settings-buttons {
        display: flex;
        justify-content: space-between;
    }
}

.social-container {
    svg {
        margin-right: 10px;
        fill: $col-white;
    }
}

.new-member-container,
.recent-activity-container {
    margin-top: 10px;
    p:last-child {
        margin-bottom: 10px;
    }
}

.profile-toggle,
.email-toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    label {
        flex: .7;
        border: 2px solid #ccc;
        border-radius: 90px/90px;
        max-width: 100px;
    }
    p {
        font-weight: 100;
        font-size: .7rem;
    }
}

.alert-banner {
    display: flex;
    justify-content: space-between;
    background-color: $col-primary;
    color: $col-white;
    border-radius: 5px;
    font-size: .7rem;
    padding: 10px;
}