* {
    box-sizing: border-box;
    padding: 0; 
    margin: 0;
    font-family: sans-serif;
}

body {
    height: 100vh;
}

hr {
    padding: .5px 0px;
    background-color: $col-form-borders;
    border: none;
    margin-bottom: 5px;

}

section,
.dashboard-header {
    max-width: 94%;
    margin: 0 auto;
}

.dashboard-header {
    display: flex; 
    justify-content: space-between;
}
.recent-activity-container,
.new-member-container {
    border-bottom: 1px solid $col-form-borders;
    text-align: center;
    &:last-child {
        border-bottom: none;
    }
}

.main-grid { 
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 60px 70px 1fr;
    grid-template-areas: 
            "site-header"
            "site-nav"
            "site-main";
}

.site-header {
    grid-area: site-header;
    display: flex;
    justify-content: space-between;
    background-color: $col-primary;
    color: $col-white;
    align-items: center;
    padding: .6rem;
    .profile-img {
        max-width: 50px;
    }
    .svg {
        width: 25px; 
        height: 25px;
    }
    h1 {
        font-size: 1.5em;
        margin-right: 1em;
    }
    p {
        font-size: .7em; 
        font-weight: 100;
    }
}

.header-right {
    display: flex; 
    justify-content: space-evenly;
    align-items: flex-end;
    p {
        align-items: center;
        flex-basis: content;
    }
}


.site-nav {
    grid-area: site-nav;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    background-color: $col-secondary;
}

.site-main {
    grid-area: site-main;
}

.social-container {
    display: flex; 
    flex-direction: column;
    & > div {
        margin-top: 1rem;
    }
}

@media (min-width: $tablet-break) {

}

@media (min-width: $desktop-break) {

}