@media (min-width: $tablet-break) {
    .main-grid {
        grid-template-rows: 70px 75px 1fr;
    }
    .social-container {
        display: flex; 
        flex-direction: row;
        & > div {
            flex-grow: 4;
            margin-right: 1rem;
            &:last-child {
                margin: 0;
            }
        }
    }
}

@media (min-width: $desktop-break) {
    .main-grid {
        grid-template-columns: 80px 1fr;
        grid-template-rows: 60px 1fr;
        grid-template-areas: 
        "site-header site-header"
        "site-nav site-main";
    }
    .site-nav {
        flex-direction: column;
        justify-content: start;
        .svg {
            margin: 1rem 0;
        }
    }
}