@media (min-width: $tablet-break) {

    .main-grid {
        grid-template-columns: 80px 1fr;
        grid-template-rows: 60px 1fr;
        grid-template-areas: 
        "site-header site-header"
        "site-nav site-main";
    }

    .site-main {
        display: grid;
        grid-template-columns: 50%;
    }
 
    .chart-full-container {
        width: 80vw;
    }

    .chart-half-container {
        width: 40vw;
    }

    .dashboard-header,
    .alerts,
    .traffic,
    .social-stats,
    .members,
    .activity,
    .message-user,
    .settings {
        grid-column: 1 / span 2;
    }

    .daily-traffic {
        grid-column: 1 / span 1;
    }
    .mobile-users {
        grid-column: 2 / span 1;
    }

    .traffic-header {
        display: flex; 
        justify-content: space-between;
    }
    
    .flex-container {
        display: flex; 
        justify-content: space-between;
        align-items: center;
        .profile-img {
          margin-right: 10px;
        }
    }

    .flex-container {
        margin-bottom: 10px;
    }

    .members-text {
        display: flex;
        align-items: center;
    }

    .carrot {
        display: inline;
    }

    .inner-text {
        text-align: left;
    }

    .site-nav {
        flex-direction: column;
        justify-content: start;
        .svg {
            margin: 1rem 0;
        }
    }

    .social-container {
        display: flex; 
        flex-direction: row;

    }
    .social {
        margin-right: 10px;
        width: calc(95%/3);
    }

    .toggle-wrapper {
        max-width: 50%;
    }
}

@media (min-width: $desktop-break) {

    .daily-traffic,
    .members,
    .message-user {
        grid-column: 1 / span 1;
    }

    .mobile-users,
    .activity,
    .settings {
        grid-column: 2 / span 1;
    }

    .toggle-wrapper {
        max-width: 75%;
    }

    .settings,
    .message-user {
        display: flex; 
        flex-direction: column; 
        justify-content: space-evenly;
    }
}