h1 {
    font-weight: 200;
}

h2, 
h3 {
    font-weight: 400;
    font-size: 1em;
}

h3 {
    text-transform: uppercase;
    margin-top: 10px;
}
a {
    text-decoration: none;
    color: $col-secondary;
}

.vert-line {
    background-color: $col-form-borders;
    padding: 35px 1px 0 0;
}

.members,
.activity {
    font-size: .9rem;
}